/* CSS declarations go here */
body{font-family: 'Martel Sans', sans-serif;
background-color:#efddba;
}

#map{border: 1px black solid;
    width: 70%;
height: 500px;
float:left;
}

#loginButtons{
	width:100%;
	background-color: #c68d21;
  padding-left:10px;
}

#header{
  vertical-align:middle;
  font-size: 36pt;
}

#sideButtonBar{
	float:left;
	width:300px;
	border-right: 2px black solid;
	display:inline;
}

#basic-modal-content {display:none;position:absolute; margin-left: auto; margin-right: auto; width:90%; height: 500px;
  float:right;
border: 1px solid #000;
background-color: #FEE;
overflow: scroll;}

#footer{
  width:70%;
  float:left;
  line-height: 110%;
  paddin-left:5px;
}

.button{
	border-radius: 4px;
	width: 126px;
	height: 180px;
	border: 1px solid black;
	background-color: #dddddd;
  line-height: 90%;
    text-align: center;
    display: inline-table;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    cursor:pointer;
}

.smtxt{
	font-size: small;
  font-family: 'Martel Sans', sans-serif;
}

.lgtxt{
	font-weight: bold;
  font-family: 'Martel Sans', sans-serif;
}
