/* CSS declarations go here */
body{font-family: 'Martel Sans', sans-serif;
background-color:#ffffff;
}

#map{border: 1px black solid;
    width: 70%;
height: 500px;
float:left;
}

#loginButtons{
	width:100%;
	background-color: #e32213;
  padding-left:10px;
}

#header{
  vertical-align:middle;
  font-size: 36pt;
}

#sideButtonBar{
	float:left;
	width:300px;
	border-right: 2px black solid;
	display:inline;
}

#basic-modal-content {display:none;position:absolute; margin-left: 50px; margin-right: 50px;  height: 600px;
padding:5px;
border: 1px solid #000;
background-color: #FEE;
overflow: scroll;
z-index:20000;
box-shadow: 5px 5px 10px #888888;}

#ident-modal {display:none;position:absolute; margin-left: 50px; margin-right: 50px; height: 600px;
  padding: 5px;
border: 1px solid #000;
background-color: #FEE;
overflow: scroll;
z-index:20000;
box-shadow: 5px 5px 10px #888888;}


#footer{
  width:70%;
  float:left;
  line-height: 110%;
  paddin-left:5px;
}

.button{
	border-radius: 4px;
	width: 126px;
	height: 180px;
	border: 1px solid black;
	background-color: #dddddd;
  line-height: 90%;
    text-align: center;
    display: inline-table;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    cursor:pointer;
}

.smtxt{
	font-size: small;
  font-family: 'Martel Sans', sans-serif;
}

.lgtxt{
	font-weight: bold;
  font-family: 'Martel Sans', sans-serif;
}

table {
    border-collapse: collapse;
    margin-left: 10px;
}

table, th, td {
    border: 1px solid black;
    padding-left:5px;
    padding-right: 5px;
}
