/* CSS declarations go here */
body{font-family: 'Martel Sans', sans-serif;
background-color:#ffffff;
}

#allcontent{
  width: 100%;
}
#map{border: 1px black solid;
height: 500px;
margin-top: 2px;
}

#loginButtons{
	width:100%;
	background-color: #ffffff;
  padding-left:10px;
}

#header{
  vertical-align:middle;
  font-size: 36pt;
}

#sideButtonBar{
  position:relative;
	float:left;
	width:300px;
	display:inline;
}

#basic-modal-content {display:none;position:absolute; margin-left: 150px; width:500px;  height: 600px;
padding:5px;
border: 1px solid #000;
background-color: #FEE;
overflow: scroll;
z-index:20000;
box-shadow: 5px 5px 10px #888888;}

#ident-modal {display:none;position:absolute; margin-left: 250px; width:700px; height: 600px;
  padding: 5px;
border: 1px solid #000;
background-color: #c9eadb;
overflow: scroll;
z-index:20000;
box-shadow: 5px 5px 10px #888888;}

#stats-modal {display:none;position:absolute; margin-left: 150px; width:1000px; height: 600px;
  padding: 5px;
border: 1px solid #000;
background-color: #ffffff;
overflow: scroll;
z-index:20000;
box-shadow: 5px 5px 10px #888888;}

#footer{
  width:70%;
  float:left;
  line-height: 110%;
  paddin-left:5px;
}

.button{
	border-radius: 4px;
	width: 126px;
	height: 180px;
	/*border: 1px solid black;*/
	background-color: #fcf9a6;
  line-height: 90%;
    text-align: center;
    display: inline-table;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    cursor:pointer;
}

.dullbutton{
  opacity: 0.6;
	border-radius: 4px;
	width: 126px;
	height: 180px;
	/*border: 1px solid black;*/
	background-color: #fcf9a6;
  line-height: 90%;
    text-align: center;
    display: inline-table;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    cursor:pointer;
}

.bigbutton{
  position:absolute;
  opacity: 1.0;
  top:15px;
  left:40px;
  border-radius: 4px;
	width: 200px;
	height: 520px;
	border: 2px solid black;
	background-color: #eeeeee;
  line-height: 90%;
    text-align: center;
    display: inline-table;
    margin: 2px 2px 2px 2px;
    padding: 22px 2px 2px 2px;
    cursor:pointer;
    z-index:100;
}

.button:hover{
  background-color: #4ea07a;
}

.smtxt{
	font-size: small;
  font-family: 'Martel Sans', sans-serif;
}

.lgtxt{
	font-weight: bold;
  font-family: 'Martel Sans', sans-serif;
}

table {
    border-collapse: collapse;
    width:300px;
    margin-left:50px;
}

table, th, td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #ffffff;
    padding-top:5px;
    padding-bottom: 0px;
    padding-left:5px;
    padding-right: 5px;
}

/* unvisited link */
a:link {
    color: #330000;
    font-weight:bold;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #330000;
    font-weight:bold;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #ff0000;
    font-weight:bold;
    text-decoration: none;
}
